/* Button Styles */
button{
  position: relative;
  padding: 11px;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: .3em;
  transition: all 0.2s;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  &:before {
    margin-right: .5em;
    color: white;
    @include media ($tablet) {
      margin-right: 0;
    }
  }

  span {
    color: white;
  }
}
.Alpha {
  background: $alpha-palette;
  &:hover {
  background-color: darken($alpha-palette, 10%);
  }
}

.Bravo {
  background:  $bravo-palette;
   &:hover {
  background-color: darken($bravo-palette, 10%);
  }
}

.Charlie {
  background: $charlie-palette;
   &:hover {
  background-color: darken($charlie-palette, 10%);
  }
}

.Delta {
  background: $delta-palette;
   &:hover {
  background-color: darken($delta-palette, 10%);
  }
}

.Echo {
  background: $echo-palette;
   &:hover {
  background-color: darken($echo-palette, 10%);
  }
}





