//global styles

body {
  width:100%;
  margin-top: 2em;
}

img{
  max-width: 100%;
}
nav {
   display: block;
   position: fixed;
   width:11em;
   padding-left: 1em;
   left:0;
   top:0;
   height:100%;
   background-color: #fdfdfd;
   border-right: 1px solid #cdcdcd;
  a {
    padding: 0.5em 0.5em 0.5em 0.5em;
    &:first-child{
    padding-top: 4.5em; 
    }
  }
  a, h2 {
    display: block;
    position: relative;
    text-decoration: none;
  }
  h2 {
    padding: 0.2em;
  }
}

//Global Body styles
#sg-wrapper {
  @include outer-container;
  //override grid settings
  margin-left: 10em;
}
article {
  @include span-columns(10);
  @include shift(1);
  border-bottom: 1px dotted black;
  padding-bottom: 2em;
}
// Color palette horizontal block
.sg-palette {
  display: flex;
  justify-content: space-between;
  margin-top: -0.5em;
  p {
    text-align: center;
    margin-top: 0;
  }
}

// Color palette circular blocks
.sg-color-block  {
  @include span-columns(6);
  @include shift(3);
  text-align: center;
  float: left;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  margin: 1em 1em;
  border: 1px solid white;
}

// Code samples
pre {
  @include span-columns(6);
  @include pad();
  display: block;
  background-color: whitesmoke;
  overflow: auto;
  word-break: normal;
  word-wrap: break-word;
  height: 10em;
  white-space: pre;
  margin-top: 2em;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
}
// Code samples overflow
code {
  overflow: scroll;
}

//Code Titles
.sg-code-titles h4 {
  @include span-columns(6);
  margin-bottom: -1em;
}

//Button + Icon positioning
.sg-displayFlex {
  display: flex;
  justify-content: space-between;
}

.sg-type-space {
  margin: 3em 0;
}

