//global styles

body {
  width:100%;
  margin-top: 2em;
}

img{
  max-width: 100%;
}

nav {
   display: block;
   position: fixed;
   width:11em;
   padding-left: 1em;
   left:0;
   top:0;
   height:100%;
   background: whitesmoke;
}

a {
  display: block;
  position: relative;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

nav a:first-child {
  padding-top: 4.5em;
}

#wrapper {
  @include outer-container;
  //override grid settings
  margin-left: 10em;
}

article {
  @include span-columns(10);
  @include shift(1);
}

div[class*='.alpha-'], div[class*='.bravo-'], div[class*='.charlie-'], div[class*='.delta-'], span  {
  @include span-columns(6);
  @include shift(3);
  text-align: center;
  float: left;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  margin: 1em 1em;
  border: 1px solid white;
  background-color:orange;
}

///////////////////
//APPLICATION STYLES - use .app-* class
///////////////////

