// ///MIXINS


// @mixin vertical-align {
//   position: relative;
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
// }

// @mixin center-block {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }

// @mixin big-bg{
//   background-size: cover;
//   background-position: top right;
//   background-repeat: no-repeat;
// }

