@import "fonts/manifest";
3
h1 {
	font-size: 2.441em;
}
h2 {
	font-size: 1.953em;
}
h3 {
	font-size: 1.563em; 
}
h4 {
	font-size: 1.25em;
}
p {
	font-size: 1em;
	line-height: 1.25em;
}

#guidelines, #colors, #type-stlyes, #icons, #btn {
	line-height: 1em;
}
