block buttons
  article
    h1(id="btn") Buttons
    div(class="btnDiv")
      a(href='', title='Button push tomato', class="button btnPush btnTomato") Push
      a.button.btnPush.btnBlueGreen(href='', title='Button push blue/green') Push
      a.button.btnPush.btnLightBlue(href='', title='Button push lightblue') Push
      a.button.btnPush.btnOrange(href='', title='Button push orange') Push
      a.button.btnPush.btnPurple(href='', title='Button push purple') Push
    div()
      pre(class="code-block")
        code here is code. here is code. here is code. ere is code. here is code. here is code. here is code. here is code. here is code. ere is code. here is code. here is code. vhere is code. here is code. here is code. ere is code. here is code. here is code. 
      pre(class="code-block")
        code= '<h2>here is code</h2>'