block buttons
  article
    h1(id="btn") Buttons
    div(class="sg-displayFlex")
      a(href="" class="oi btn Alpha" data-glyph="heart" title="heart" aria-hidden="true") Heart
      a(href="" class="oi btn Bravo" data-glyph="paperclip" title="paperclip" aria-hidden="true") Add
      a(href="" class="oi btn Charlie" data-glyph="trash" title="trash" aria-hidden="true") Trash
      a(href="" class="oi btn Delta" data-glyph="account-logout") Logout
      a(href="" class="oi btn Echo" data-glyph="calendar" title="calendar" aria-hidden="true") Calendar
    div()
      pre
        code here is code. here is code. here is code. ere is code. here is code. here is code. here is code. here is code. here is code. ere is code. here is code. here is code. vhere is code. here is code. here is code. ere is code. here is code. here is code. 
      pre
        code= '<h2>here is code</h2>'