block buttons
  article
    h1(id="btn") Buttons
    div(class="sg-type-space")
      div(class="sg-button-container")
        button(ahref="#" class="oi Alpha" data-glyph="heart" title="heart" aria-hidden="true") 
          span Heart
        button(href="" class="oi Bravo" data-glyph="paperclip" title="paperclip" aria-hidden="true") 
          span Add
        button(href="" class="oi Charlie" data-glyph="trash" title="trash" aria-hidden="true") 
          span Trash
        button(href="" class="oi Delta" data-glyph="account-logout") 
          span Logout
        button(href="" class="oi Echo" data-glyph="calendar" title="calendar" aria-hidden="true") 
          span Calendar
    div(class="code-block")
      h4 Jade   
      pre
        code(class="language-markup").
          a(href="" class="oi Alpha" data-glyph="heart" title="heart" aria-hidden="true") Heart
          a(href="" class="oi Bravo" data-glyph="paperclip" title="paperclip" aria-hidden="true") Add
          a(href="" class="oi Charlie" data-glyph="trash" title="trash" aria-hidden="true") Trash
          a(href="" class="oi Delta" data-glyph="account-logout") Logout
          a(href="" class="oi Echo" data-glyph="calendar" title="calendar" aria-hidden="true") Calendar
    div(class="code-block")
      h4 SCSS
      pre
        code(class="language-scss").
          button{
            position: relative;
            width: 120px;
            padding: 0;
            margin: 10px 20px 10px 0;
            font-weight: 600;
            text-align: center;
            line-height: 50px;
            color: #FFF;
            border-radius: .3em;
            transition: all 0.2s;
            text-decoration: none;
            &:before {
              margin-right: .5em;
            }
          }
          .Alpha {
            background: $alpha-palette;
            &:hover {
            background-color: darken($alpha-palette, 10%);
            }
          }

          .Bravo {
            background:  $bravo-palette;
             &:hover {
            background-color: darken($bravo-palette, 10%);
            }
          }

          .Charlie {
            background: $charlie-palette;
             &:hover {
            background-color: darken($charlie-palette, 10%);
            }
          }

          .Delta {
            background: $delta-palette;
             &:hover {
            background-color: darken($delta-palette, 10%);
            }
          }

          .Echo {
            background: $echo-palette;
             &:hover {
            background-color: darken($echo-palette, 10%);
            }
          }
