block colors
    article
        h1(id="colors") Colors
        div(class="palette")
          div(class="color-wrapper")
            div(class="alpha-palette")
            span 
            p #666666
            p $alpha-palette
          div
            div(class="bravo-palette")
            span 
            p #666666
            p $bravo-palette
          div
            div(class="charlie-palette")
            span 
            p #666666
            p $charlie-palette
          div
            div(class="delta-palette")
            span 
            p #666666
            p $delta-palette
          div
            div(class="echo-palette")
            span 
            p #666666
            p $echo-palette 