block colors
    article(id="colors")
        h1 Colors
        div(class="sg-palette")
          div(class="sg-palette-wrapper")
            div(class="alpha-palette")
              span(class="sg-color-block") 
              p  #49be55
              p $alpha-palette
          div(class="sg-palette-wrapper")
            div(class="bravo-palette")
              span(class="sg-color-block")
              p #4bc17a
              p $bravo-palette
          div(class="sg-palette-wrapper")
            div(class="charlie-palette")
              span(class="sg-color-block") 
              p #4ec3a0
              p $charlie-palette
          div(class="sg-palette-wrapper")
            div(class="delta-palette")
              span(class="sg-color-block") 
              p #51c6c6
              p $delta-palette
          div(class="sg-palette-wrapper")
            div(class="echo-palette")
              span(class="sg-color-block") 
              p #53a5c8
              p $echo-palette 