block icons
  article
    h1(id="iconography") Icons
    div(class="sg-displayFlex")
      a(href="" class="oi" data-glyph="account-logout") 
      a(href="" class="oi" data-glyph="heart" title="heart" aria-hidden="true")
      a(href="" class="oi" data-glyph="trash" title="trash" aria-hidden="true")
      a(href="" class="oi" data-glyph="microphone" title="microphone" aria-hidden="true")
      a(href="" class="oi" data-glyph="paperclip" title="paperclip" aria-hidden="true")  
      a(href="" class="oi" data-glyph="link-intact" title="link intact" aria-hidden="true")
      a(href="" class="oi" data-glyph="map" title="map" aria-hidden="true")
      a(href="" class="oi" data-glyph="external-link" title="external link" aria-hidden="true")
      a(href="" class="oi" data-glyph="calendar" title="calendar" aria-hidden="true")   
    div
      pre
        code here is code. here is code. here is code. ere is code. here is code. here is code. here is code. here is code. here is code. ere is code. here is code. here is code. vhere is code. here is code. here is code. ere is code. here is code. here is code. 
      pre
        code= '<h4> NICE NATTY </h4>'

