block icons
  article(id="iconography")
    h1 Icons
    div(class="sg-type-space")
      div(class="sg-displayFlex")
        a(href="" class="oi" data-glyph="account-logout")
        a(href="" class="oi" data-glyph="heart" title="heart" aria-hidden="true")
        a(href="" class="oi" data-glyph="trash" title="trash" aria-hidden="true")
        a(href="" class="oi" data-glyph="microphone" title="microphone" aria-hidden="true")
        a(href="" class="oi" data-glyph="paperclip" title="paperclip" aria-hidden="true")
        a(href="" class="oi" data-glyph="link-intact" title="link intact" aria-hidden="true")
        a(href="" class="oi" data-glyph="map" title="map" aria-hidden="true")
        a(href="" class="oi" data-glyph="external-link" title="external link" aria-hidden="true")
        a(href="" class="oi" data-glyph="calendar" title="calendar" aria-hidden="true")
    a(href="javascript:void(0)" id="code-toggle-icons") View Code
    div(class="code-block-icons")
      h4 Jade
      pre
        code(class="language-markup").
          a(href="" class="oi" data-glyph="account-logout")
          a(href="" class="oi" data-glyph="heart" title="heart" aria-hidden="true")
          a(href="" class="oi" data-glyph="trash" title="trash" aria-hidden="true")
          a(href="" class="oi" data-glyph="microphone" title="microphone" aria-hidden="true")
          a(href="" class="oi" data-glyph="paperclip" title="paperclip" aria-hidden="true")
          a(href="" class="oi" data-glyph="link-intact" title="link intact" aria-hidden="true")
          a(href="" class="oi" data-glyph="map" title="map" aria-hidden="true")
          a(href="" class="oi" data-glyph="external-link" title="external link" aria-hidden="true")
          a(href="" class="oi" data-glyph="calendar" title="calendar" aria-hidden="true")
    div(class="code-block-icons")
      h4 SCSS
      pre
        code(class="language-scss").
          .oi[data-glyph=account-logout]:before {
              content: '\e000';
            }
          .oi[data-glyph=heart]:before {
            content: '\e073';
          }
          .oi[data-glyph=trash]:before {
              content: '\e0cb';
            }
          .oi[data-glyph=microphone]:before {
            content: '\e098';
          }
          .oi[data-glyph=paperclip]:before {
              content: '\e09e';
            }
          .oi[data-glyph=link-intact]:before {
            content: '\e073';
          }
          .oi[data-glyph=map]:before {
              content: '\e08d';
            }
          .oi[data-glyph=external-link]:before {
            content: '\e061';
          }
          .oi[data-glyph=calendar]:before {
            content: '\e02a';
          }




