block icons
  article
    h1(id="iconography") Icons
    div
      a(href="" class="oi" data-glyph="account-login") Login
      a(href="" class="oi" data-glyph="account-logout") Logout
      a(href="" class="oi" data-glyph="align-left") 
      a(href="" class="oi" data-glyph="align-right")
      a(href="" class="oi" data-glyph="arrow-left")
      a(href="" class="oi" data-glyph="arrow-right") 
      a(href= "" class="oi" data-glyph="ban" title="icon name" aria-hidden="true")
    div()
      pre(class="code-block")
        code here is code. here is code. here is code. ere is code. here is code. here is code. here is code. here is code. here is code. ere is code. here is code. here is code. vhere is code. here is code. here is code. ere is code. here is code. here is code. 
      pre(class="code-block")
        code= '<h4> NICE NATTY </h4>'