extends layout

block content
   ul.menu
      li(title='home')
        a.home(href='#') Home
      li(title='search')
        a.search(href='#') Colors
      li(title='pencil')
        a.pencil(href='#') Typography
      li(title='about')
        a.active.about(href='#') Buttons
      li(title='archive')
        a.archive(href='#') Layout
      li(title='contact')
        a.contact(href='#') Navigation
      li(title='pencil')
        a.pencil(href='#') Forms
      li(title='pencil')
        a.pencil(href='#') Voice + Tone    
      li(title='pencil')
        a.pencil(href='#') Blog Posts  

