extends layout

block content
   ul.menu
      li(title='home')
        a.home(href='#') home
      li(title='search')
        a.search(href='#') search
      li(title='pencil')
        a.pencil(href='#') pencil
      li(title='about')
        a.active.about(href='#') about
      li(title='archive')
        a.archive(href='#') archive
      li(title='contact')
        a.contact(href='#') contact  

