extends layout

block content
  nav
    a(href="#" id="tag-guidelines") Guidelines
    a(href="#" id="tag-color") Color
    a(href="#" id="tag-typography") Typography
    a(href="#" id="tag-icons") Icons
    a(href="#" id="tag-buttons") Buttons
    a(href="#" id="tag-ui") UI Components
    a(href="#" id="tag-mobile") Mobile
  body
    div(id="wrapper")
      article
        h1(id="guidelines") User Interface Guidelines
        p The User Interface Style Guide is here to help maintain your brand across multiple platforms (desktop, tablet, mobile, ios, android, etc) and across multiple markets. Constant iteration requires both an efficient workflow and a well defined collection of core UI elements that can be assembled quickly. Reinventing the wheel is out and standards are in.
        p This documentation references our core UI patterns. It is our hope this guide will decrease uncertainty in the workplace and increase efficiency. This uniform lexicon of code and UI elements benefits us in a many ways:
        ul
          li We can build consistently and focus on workflows and logic, not web forms and list items
          li We can reuse code instead of roping in a developer
          li We can maintain our code by seeing our patterns in one place, define elements in our application, and keep redundancy to a minimum
          li We add new patterns only when the case for doing so is sound. New patterns come at a high cost—they require new design elements, additional code, maintenance, and they increase the cognitive load on users.
      article
        h1(id="colors") Colors
        div(class="palette")
          div(class="alpha-palette")
            span $alpha-primary
            #F11524
          div(class="bravo-palette")
            span $bravo-primary
            #1E8042
          div(class="charlie-palette")
            span $charlie-primary
            #F7E257
          div(class="delta-palette")
            span $delta-primary
            #3769C7
          div(class="echo-palette")
            span $echo-primary
            #FB832C
      article
        h1(id="typography") Typography
        h1 This is an h1 (Main Head)
        h2 This is an h2 (Subhead)
        h3 This is an h3
        h4 This is an h4
        p This is a paragraph about Dale.
        a(href="#") This is a link
        section(class="show-code")
          a(href="#" class="js-show-code") Show Code
          a(href="#" class="js-hide-code") Hide Code
          div(class="html-code")
            a(href="#" class="copy-source") Copy HTML
            p This is a paragraph.
      article
        h1(id="icons") Icons
        span(class="icon-font")
        section(class="show-code")
          a(href="#" class="js-show-code") Show Code
          a(href="#" class="js-hide-code") Hide Code
          div(class="html-code")
            a(href="#" class="copy-source") Copy HTML
            p This is a paragraph.
      article
        h1(id="buttons") Buttons
        section(class="show-code")
          a(href="#" class="js-show-code") Show Code
          a(href="#" class="js-hide-code") Hide Code
          div(class="html-code")
            a(href="#" class="copy-source") Copy HTML
            p This is a paragraph.
      article
        h1(id="ui") UI Components
        section(class="show-code")
          a(href="#" class="js-show-code") Show Code
          a(href="#" class="js-hide-code") Hide Code
          div(class="html-code")
            a(href="#" class="copy-source") Copy HTML
            p This is a paragraph.
      article
        h1(id="mobile") Mobile
        section(class="show-code")
          a(href="#" class="js-show-code") Show Code
          a(href="#" class="js-hide-code") Hide Code
          div(class="html-code")
            a(href="#" class="copy-source") Copy HTML
            p This is a paragraph.



