doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/application.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
    script(src="//localhost:35729/livereload.js")
    script(src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(src='/javascript/animatescroll.js')
    script(src='/javascript/prism.js')
    script(src='/javascript/main.js')
  
