block typography
	article(id="type-style")
		h1 Typography
		div(class="sg-type-space")
			h1 This is an h1 (Main Head)
			h2 This is an h2 (Subhead)
			h3 This is an h3
			h4 This is an h4
			p This is a paragraph about Dale.
			a(href="#") This is a link
		a(href="javascript:void(0)" id="code-toggle-typography") View Code
		div(class="code-block-typography")
			h4 Jade
			pre
				code(class="language-markup").
					h1 This is an h1 (Main Head)
					h2 This is an h2 (Subhead)
					h3 This is an h3
					h4 This is an h4
					p  This is a paragraph about Dale
					a(href="#") This is a link
		div(class="code-block-typography")
			h4 SCSS
			pre
				code(class="language-scss").
					$header-fonts: "Avenir", Helvetica, Arial, sans-serif;
					$body-fonts: "Sentinel", Garamond, Times, serif;
					h1 {
						font-size: 2.441em;
					}
					h2 {
						font-size: 1.953em;
					}
					h3 {
						font-size: 1.563em;
					}
					h4 {
						font-size: 1.25em;
					}
					p {
						font-size: 1em;
						line-height: 1.25em;
					}



