.alpha-palette{
	span {
	background-color: $alpha-palette;
}
}

.bravo-palette span {
	background-color: $bravo-palette;
}

.charlie-palette span {
	background-color: $charlie-palette;
}

.delta-palette span {
	background-color: $delta-palette;
}

.echo-palette span {
	background-color: $echo-palette;
}

a {
	color: $echo-palette;
}