/* Code Block Button */



/* Button Styles */
a.button {
  position: relative;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: .3em;
  transition: all 0.2s;
}

.btnTomato {
  background: tomato;
  &.btnPush {
    box-shadow: 0px 5px 0px 0px red;
  &:hover {
      box-shadow: 0px 0px 0px 0px red;
    }
  }
}

.btnBlueGreen {
  background: #00AE68;
  &.btnPush {
     box-shadow: 0px 5px 0px 0px #007144;
  &:hover {
      box-shadow: 0px 0px 0px 0px #007144;
    }
  }
}

.btnLightBlue {
  background: #5DC8CD;
  &.btnPush {
    box-shadow: 0px 5px 0px 0px #1E8185;
   &:hover {
      box-shadow: 0px 0px 0px 0px #1E8185;

    }
  }
}

.btnOrange {
  background: #FFAA40;
  &.btnPush {
    box-shadow: 0px 5px 0px 0px #A66615;
  &:hover {
      box-shadow: 0px 0px 0px 0px #A66615;

    }
  }
}

.btnPurple {
  background: #A74982;
  &.btnPush {
  box-shadow: 0px 5px 0px 0px #6D184B;
  &:hover {
      box-shadow: 0px 0px 0px 0px #6D184B;

    }
  }
}

.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}







